@import "tailwindcss";

@theme {
  --color-darkbrown: rgb(25 10 0);
  --breakpoint-xs: 30rem;
}

.gradient-underline {
  background-image: linear-gradient(
    90deg,
    rgba(211, 119, 9, 1) 0%,
    rgba(247, 187, 118, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: 0 100%;
}
